<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Board</key>
	<array>
		<array>
			<dict>
				<key>Column</key>
				<integer>1</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>2</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>1</integer>
				<key>Text</key>
				<string>Start</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>4</integer>
				<key>Text</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>4</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>5</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>6</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>7</integer>
				<key>Text</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>0</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>1</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>2</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>7</integer>
				<key>Text</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>0</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>2</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>4</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>6</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>7</integer>
				<key>Text</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>0</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>4</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>5</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>6</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>0</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>1</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>Column</key>
				<integer>1</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>2</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>3</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>4</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>5</integer>
				<key>Text</key>
				<string>👍</string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>6</integer>
				<key>Text</key>
				<string></string>
			</dict>
			<dict>
				<key>Column</key>
				<integer>7</integer>
				<key>Text</key>
				<string>End</string>
			</dict>
		</array>
	</array>
	<key>TilesToComplete</key>
	<integer>21</integer>
</dict>
</plist>
